.main {
  height: 260px;
  padding: 0 600px;
  background-color: #1a4870;
  & h1 {
    color: white;
    font-size: 4rem;
  }
}

.text {
  font-size: 2rem;
}

.back {
  color: white;
  background-color: #1a4870;
}
